@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: 0px;
    scrollbar-color: var(--primary) var(--secondary);
    -webkit-tap-highlight-color: transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    /*   background: repeating-linear-gradient(
      45deg,
      var(--secondary),
      var(--secondary) 5px,
      var(--primary) 5px,
      var(--primary) 10px
    ); */
    border-radius: 20px;
    border: 3px solid var(--primary);
}

body {
    overscroll-behavior: none;
    font-family: 'Montserrat', sans-serif !important;
}


.leftpart {
    @apply transition-all;
    @apply flex-row items-center px-16 md:sticky fixed w-fit h-screen md:w-1/4;
    @apply dark:bg-slate-800 bg-slate-50 md:opacity-100 opacity-0 md:translate-x-0 -translate-x-full;
}

.show{
   @apply translate-x-0 opacity-100;
}

.rightpart {
    @apply transition-all;
    @apply flex flex-row items-center px-8 lg:px-60;
}

.profile-img {
    @apply bg-cover bg-no-repeat bg-center;
    @apply min-h-[150px] min-w-[150px] lg:min-h-[250px] lg:min-w-[250px] ;
    @apply shadow-[inset_0px_0px_0px_4px_rgba(0,0,0,0.2)] lg:shadow-[inset_0px_0px_0px_8px_rgba(0,0,0,0.2)]; 
    @apply bg-[url("../assets/me_javed.jpg")];
    @apply animate-bw;
    /* background-image: url("../assets/me_javed.jpg");
    -webkit-box-shadow: inset 0px 0px 0px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 0px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 0px 0px 8px rgba(0, 0, 0, 0.2); */

}

.kursor,
.kursorChild {
    @apply z-50;
}